
/* (Soft)Reset do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../img/background.jpg');
    background-size:100vw auto;
    font-family: roboto;
    height: 100vh;
    font-size: 10px;
  }
/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/  
@media (min-width: 400px) {
body {
  font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 14px;
    }
}


  header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
   color: white; 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  


  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rebeccapurple;
  }

  .menu a {
padding: 10px 20px;
display: block;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
    
  }
  .menu li {
    list-style: none;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
      
  }
  .site-subtitle {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 300px;
  }

.portfolio-text {
  color: whitesmoke;
}